.totdoinput-container{
    width: 100%;
    height: 50px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.totdoinput-container input{
    max-width: 297px;
    width: 100%;
    height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
  background: transparent;
    margin-left: 10px;
    border: 1px solid  #435567;
    color: white;
}
.totdoinput-container input::placeholder {
    color: rgb(110, 142, 173);
}
.totdoinput-container button{
    margin-left: 10px;
    width: 95px;
    height: 40px;
    background-color: #0C5488;
    color: #8c9eaf;
    font-family:sans-serif;
   font-size: 14px;
   font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.totdoinput-container button:hover{
    background-color:  #0b395a;
    color: white;
}